// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	font-family: 'Playfair Display';
}


/*HOMEPAGE*/
#title{
	font-size: 80px;
	text-align: center;
}

.top_nav div{
	font-size: 30px;
	display: inline;
	color: red;
}

#twitter_link{
	font-size: 30px;
}

.navbar ul{
	list-style-type: none;
	display: flex;
}

#left_navbar{
	color: blue
}

#right_navbar{
	float:right;
}

#story_box_title{
	font-size: 24px;
}

#story_box_body{
	text-align: left;
	margin-top: 2%;
}

#story_box_keywords{
	border: 1px solid black;
}