// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#story_title{
	font-size: 50px;
	text-align: center;
}

#story_body{
	font-size: 25px;
	border: 1px solid black;
	margin: 5% 10% 10% 10%;
}